@font-face {
    font-family: 'Fjalla One';
    src: url(./ttf/Fjalla_One/FjallaOne-Regular.ttf);
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(./ttf/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: 'Fredoka One';
    src: url(./ttf/Fredoka_One/FredokaOne-Regular.ttf);
}

.palette {
    color: #45484B;
    color: #5A5E69;
    color: #787679;
    color: #A5AF99;
    color: #D2C098;
    color: #000000;
    color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'fredoka One', sans-serif;
}

h1 {
    font-size: 40x;
    font-weight: normal;
    /*font-style: italic;*/
    line-height: 1.5em;
    letter-spacing: -0.25 px;
}

.hero {
    height: 300px;
}

.project-details {
    width: 500px;
    height: 500px;
}