@font-face {
    font-family: 'Fjalla One';
    src: url(./ttf/Fjalla_One/FjallaOne-Regular.ttf);
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(./ttf/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: 'Fredoka One';
    src: url(./ttf/Fredoka_One/FredokaOne-Regular.ttf);
}

.palette {
    color: #1C1D2E;
    color: #2A3047;
    color: #0A0B14;
    color: #4A475B;
    color: #656B7E;
    color: #878BA0;
    color: #23567A;
    color: #ABB2C2;
    color: #D7E2E8;
    color: #37A8B9;
    color: #57888A;
    color: #D400B7;
    color: #AD45A0;
}

body {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'fredoka One', sans-serif;
}

h1 {
    font-size: 40x;
    font-weight: normal;
    /*font-style: italic;*/
    line-height: 1.5em;
    letter-spacing: -0.25 px;
    color: #FFFFFF;
    margin: 0;
    /*margin: 100px 520px 70px 30px;*/
}

h1 strong {
    color: #2A3047;
}

h2 {
    color: #2A3047;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.header {
    background-color: #23567A;
    color: #D7E2E8;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

header figure img {
    padding: 5px;
}

.navbar {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}


nav ol li {
    height: inherit;
}

nav ol li a {
    color: #D7E2E8;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.hero {
    height: 300px;
    background-color: #37A8B9;
    background-image: url(../img/Tiger_hero.jpg);
    background-size: 200px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}

.portfolio {
    background-color: #FAFAFA/*#ABB2C2*/;
    padding: 20px;
}

.project {
    border: 1.50px solid #4A475B;
    border-radius: 10px;
    /*margin: 10px;*/
    margin-bottom: 15px;
    padding: 20px;
    background-color: #FFFFFF;
    border-color: #23567A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project_technolgies,
.project_date,
.project_link {
     margin: 10px 0;
}

.project_title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details {
    width: 500px;
    height: 500px;
}

.project-image {
    border: 1.5px solid #000000;
    border-radius: 10px;
    overflow: hidden;
}

.project_description {
    font-size: 17px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}

.box {
    width: 200px;
    height: 200px;
    margin: 10px;
    border : 1px solid red;
    flex-shrink: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.footer {
    background-color: #23567A;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div p a {
    color: #37A8B9;
    text-decoration: none;
}

.footer img {
    vertical-align: middle;
}

.event {
    /*border: 1px solid red;*/
    margin: 10px;
    /*width: 480px;*/
}

.event_list {
    display: flex;
}

section article ul {
    justify-content: space-between;
}

section article ul li {
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #57888A;
}

.event img {
    object-fit: cover;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;

}

.event_details {
    margin: 20px 40px;
    margin-top: -50px;
    background-color: #F5F5F5;
    position: relative;
    padding: 20px;
    text-align: center;
}

.contact {
    background-color: #23567A;
    color: #FFFFFF;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
    /*border: 1px solid red;*/
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    /*border: 1px solid #FFFFFF;*/
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url(../img/twitter.svg);
}

.social-link.facebook {
    background-image: url(../img/facebook.svg);
}

.social-link.github {
    background-image: url(../img/github.svg);
}

.social-link.instagram {
    background-image: url(../img/instagram.svg);
}

.form_e-mail input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url(../img/mail.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form_e-mail button {
    display: block;
    margin: 10px auto 0;
    background: transparent;
    color: white;
    border-radius: 5px;
    width: 100px;
    padding: 10px 0;
    margin-top: 10px;
}

.form_email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}